.foto-topo {
  background-image: url("/images/foto_header.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--cor-secundaria);
}

.foto-topo h1 {
  margin: auto 0 20px 0;
  font-size: 100px;
}
