:root {
  --cor-primaria: #1b53a8;
  --cor-secundaria: #e4e4e4;
  --cor-texto: rgb(0, 54, 170);
  --fonte-padrao: "Noto Serif", serif;
}

.tema-escuro {
  --cor-primaria: #0e0e0e;
  --cor-secundaria: #4d1d8d;
  --cor-texto: #000000;

  .foto-topo {
    background-image: url("/images/foto_dark.png");
  }
}
html,
body {
  background-color: var(--cor-secundaria);
  font-family: var(--fonte-padrao);
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
